<launch>
  <arg name="bag_path" default=""/>
  <arg name="rviz" default="true"/>
  <arg name="config" default="$(env LIO_WS)/configs/hesai/akf_lio.yaml"/>
  <rosparam command="load" file="$(arg config)"/>
  <param name="bag_path" value="$(arg bag_path)"/>
  <param name="/laserMapping/bag_path" value="$(arg bag_path)"/>
  <node pkg="akf_lio" type="run_mapping_online" name="laserMapping" output="screen"/>
  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz"
          args="-d $(find akf_lio)/rviz_cfg/loam.rviz"/>
  </group>
</launch>
